@import "../../../@core/scss/base/bootstrap-extended/variables";

.width_button_auto {
  width: 100%;
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    width: auto;
  }
}

.card_study_set {
  margin: 0;

  &:hover {
    cursor: pointer;
    box-shadow: $primary 0px 0.125rem 0.25rem !important;
    transform: translateX(2px);

    .options_edit {
      display: block !important;
    }
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }

  .author {
    &:hover {
      h6 {
        opacity: 0.7;
      }
    }
  }

  .card_study_set__body {
    position: relative;

    .options {
      position: absolute;
      top: 1rem;
      right: 1rem;

      .options_edit {
        display: none;
        animation: slide ease 0.4s;
      }
    }
  }
}

.card_skeleton {
  margin: 0;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

@keyframes slide {
  from {
    transform: translateX(10px);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
