@import "../../../@core/scss/base/bootstrap-extended/variables";

.active {
  font-weight: 600;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 0.2rem;

    position: absolute;
    background-color: $primary;

    bottom: -2px;
    left: 0;

    border-radius: 4px;
  }
}
